openapi: 3.0.3
info:
  title: 'Lendflow API docs'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.lendflow.com'
paths:
  '/api/int/applications/{application_id}/temporary_links':
    post:
      summary: 'Generate Temporary Links'
      operationId: generateTemporaryLinks
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n \"data\" : {\n     \"personal_information_link\": \"https://example.com\",\n     \"docusign_link\": \"https://example.com\",\n }\n}"
      tags:
        - 'Application Widget'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                notify:
                  type: boolean
                  description: ''
                  example: true
                owner:
                  type: number
                  description: 'This field is required when <code>personal_information</code> is present.'
                  example: 11613.31890586
                offer:
                  type: string
                  description: ''
                  example: null
                docusign:
                  type: boolean
                  description: ''
                  example: true
                plaid:
                  type: boolean
                  description: ''
                  example: true
                personal_information:
                  type: boolean
                  description: ''
                  example: true
                railz:
                  type: boolean
                  description: ''
                  example: false
                codat:
                  type: boolean
                  description: ''
                  example: false
                applicant_docusign:
                  type: boolean
                  description: ''
                  example: false
                completed_stips:
                  type: boolean
                  description: ''
                  example: false
    parameters:
      -
        in: path
        name: application_id
        description: 'The ID of the application.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/v2/applications/{application_id}/links':
    get:
      summary: 'Generate Plaid, Docusign, and Codat links'
      operationId: generatePlaidDocusignAndCodatLinks
      description: 'This endpoint generates the Docusign link, the Plaid link_code and the Codat link.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n \"data\": {\n    \"plaid_link_token\": \"link-sandbox-cf19d9f3-20af-4fd8-bc52-0fff9214bfa2\",\n    \"docusign_link\": \"https://demo.docusign.net/Signing/MTRedeem/v1/a9e40afa-808c-483f-9ad8-a74a80bbe303?slt=eyJ0eXAiOiJNVCIsImFsZyI6IlJTMjU2Iiwia2lkIjoiNjgxODVmZjEtNGU1MS00Y2U5LWFmMWMtNjg5ODEyMjAzMzE3In0.AQUAAAABAAMABwAAfKOT_ynZSAgAANpzRgAq2UgYAAEAAAAAAAAAIQCCAgAAeyJUb2tlbklkIjoiYzMyZjkwZDAtOGYyMy00MzZhLWFlNTctN2Q1MDgxZGRkZjAxIiwiRXhwaXJhdGlvbiI6IjIwMjEtMDYtMDdUMjI6MDQ6NTIrMDA6MDAiLCJJc3N1ZWRBdCI6IjIwMjEtMDYtMDdUMjE6NTk6NTIuOTI2NzkzOCswMDowMCIsIlJlc291cmNlSWQiOiJjMDEzZTUxOC1hYzQ4LTQyZjItODVlNi1kZGQ3ZmFlMzM1NzgiLCJSZXNvdXJjZXMiOiJ7XCJFbnZlbG9wZUlkXCI6XCJjMDEzZTUxOC1hYzQ4LTQyZjItODVlNi1kZGQ3ZmFlMzM1NzhcIixcIkFjdG9yVXNlcklkXCI6XCJjYjM0NGM1Ny04OGQ3LTQwOTktYWFkOS1lODlhMzE2MzBjOWVcIixcIlJlY2lwaWVudElkXCI6XCI3NDRlNjVhMi00YTY0LTRlYjktOGI0MC0yNzg0NGQyZTVkNWNcIixcIkZha2VRdWVyeVN0cmluZ1wiOlwidD05NDhkMzRiYi0xNDQ5LTRlNmQtOTA1MS05Y2U2ODFiYTM1YTdcIn0iLCJUb2tlblR5cGUiOjEsIkF1ZGllbmNlIjoiMjVlMDkzOTgtMDM0NC00OTBjLThlNTMtM2FiMmNhNTYyN2JmIiwiUmVkaXJlY3RVcmkiOiJodHRwczovL2RlbW8uZG9jdXNpZ24ubmV0L1NpZ25pbmcvU3RhcnRJblNlc3Npb24uYXNweCIsIkhhc2hBbGdvcml0aG0iOjAsIkhhc2hSb3VuZHMiOjAsIlRva2VuU3RhdHVzIjowLCJJc1NpbmdsZVVzZSI6ZmFsc2V9.TOiEEZjMJ9mDVCVaGDcTdGb979uXosaZ5X2O3D2e6W2EuEzOH29m55m-3T2dhquGzNAZAELShnQ8ynAsn7B4Xl8hv-0UpbQwLNTrEvgCcQVXc6WrtBDU1N6yXoX0Yf1nKbszgGCVbAhbagQ337zp95PXevFoF4Qn9_4z2w-VneBhgHwQ6N7XgGWEZNKLW3-4IR6dyhodOUTdKThIlcqUSpmaTS6Vco7yYfQidWgcCkjdYjfsxRS_r0O4Kv709ptpEPO_uCoDNaoyBNqqOLMMR00ZBo2lXLzv08d6ySY79O-NJOy0t8S_MN7Bf24ZRy1ueLNEwaMlYeo22vF7u5K4uw\",\n    \"codat_link\": \"https://link.codat.io/company/396952ad-99cb-49ea-a867-b76561984bdf\",\n    \"rutter\" : [\n         \"shopify_link\": \"https://link.rutterapi.com/connection/connectionId?platform=SHOPIFY\",\n         \"amazon_link\": \"https://link.rutterapi.com/connection/connectionId?platform=AMAZON\",\n         \"woo_commerce_link\": \"https://link.rutterapi.com/connection/connectionId?platform=WOO_COMMERCE\",\n         \"prestashop_link\": \"https://link.rutterapi.com/connection/connectionId?platform=PRESTASHOP\",\n         \"magento_link\": \"https://link.rutterapi.com/connection/connectionId?platform=MAGENTO\",\n    ]\n }\n}"
      tags:
        - 'Application Widget'
    parameters:
      -
        in: path
        name: application_id
        description: 'The ID of the application.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/v2/applications/{application_id}/plaid':
    post:
      summary: 'Set or Exchange Plaid Access Token'
      operationId: setOrExchangePlaidAccessToken
      description: "Accepts either a plaid public token or access token. If a public token is\nprovided, it will be exchanged for an access token."
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - 'Application Widget'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plaid_token:
                  type: string
                  description: 'Public or access token for Plaid. Set `is_access_token` param to `true` to indicate if the token is an access token.'
                  example: access-sandbox-de3ce8ef-33f8-452c-a685-8671031fc0f6
                is_access_token:
                  type: boolean
                  description: 'If it has true value, the token is an access token. Otherwise, it is a public token.'
                  example: true
              required:
                - plaid_token
    parameters:
      -
        in: path
        name: application_id
        description: 'The ID of the application.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/v2/applications/{application_id}/plaid/transactions':
    post:
      summary: 'Save Plaid Transactions'
      operationId: savePlaidTransactions
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - 'Application Widget'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transactions:
                  type: object
                  description: 'Raw, complete Plaid transactions JSON data.'
                  example: []
                  properties: {}
              required:
                - transactions
    get:
      summary: 'Fetch the latest Plaid Transactions for the passed-in application.'
      operationId: fetchTheLatestPlaidTransactionsForThePassedInApplication
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"data\": {\n    {\n      \"id\": integer,\n      \"start_date\": datetime,\n      \"end_date\": datetime,\n      \"response\": json,\n      \"institution\": json,\n      \"application\": json\n    }\n  }\n}"
        404:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"data\": {\n    {\n      \"message\": \"No Plaid Transactions found.\",\n      \"application_id\": uuid\n    }\n  }\n}"
      tags:
        - Legacy
    parameters:
      -
        in: path
        name: application_id
        description: 'The ID of the application.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/v2/applications/{application_id}/temporary_links':
    post:
      summary: 'Generate Temporary Links'
      operationId: generateTemporaryLinks
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n \"data\" : {\n     \"personal_information_link\": \"https://example.com\",\n     \"docusign_link\": \"https://example.com\",\n }\n}"
      tags:
        - 'Application Widget'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                notify:
                  type: boolean
                  description: ''
                  example: true
                owner:
                  type: number
                  description: 'This field is required when <code>personal_information</code> is present.'
                  example: 11613.31890586
                offer:
                  type: string
                  description: ''
                  example: null
                docusign:
                  type: boolean
                  description: ''
                  example: true
                plaid:
                  type: boolean
                  description: ''
                  example: true
                personal_information:
                  type: boolean
                  description: ''
                  example: true
                railz:
                  type: boolean
                  description: ''
                  example: false
                codat:
                  type: boolean
                  description: ''
                  example: false
                applicant_docusign:
                  type: boolean
                  description: ''
                  example: false
                completed_stips:
                  type: boolean
                  description: ''
                  example: false
    parameters:
      -
        in: path
        name: application_id
        description: 'The ID of the application.'
        example: consequatur
        required: true
        schema:
          type: string
  /api/v2/widget_templates:
    get:
      summary: 'Get Widget Templates'
      operationId: getWidgetTemplates
      description: 'Get the list of widget templates'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: null
                      name: null
                      is_default: null
                      colour: null
                      button_colour: null
                      button_text_colour: null
                      heading_font_colour: null
                      description_font_colour: null
                      label_font_colour: null
                      icon_colour: null
                      progress_bar_colour: null
                      display_pre_qualifications: null
                      currency: null
                      locale: null
                    -
                      id: null
                      name: null
                      is_default: null
                      colour: null
                      button_colour: null
                      button_text_colour: null
                      heading_font_colour: null
                      description_font_colour: null
                      label_font_colour: null
                      icon_colour: null
                      progress_bar_colour: null
                      display_pre_qualifications: null
                      currency: null
                      locale: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: null
                        name: null
                        is_default: null
                        colour: null
                        button_colour: null
                        button_text_colour: null
                        heading_font_colour: null
                        description_font_colour: null
                        label_font_colour: null
                        icon_colour: null
                        progress_bar_colour: null
                        display_pre_qualifications: null
                        currency: null
                        locale: null
                      -
                        id: null
                        name: null
                        is_default: null
                        colour: null
                        button_colour: null
                        button_text_colour: null
                        heading_font_colour: null
                        description_font_colour: null
                        label_font_colour: null
                        icon_colour: null
                        progress_bar_colour: null
                        display_pre_qualifications: null
                        currency: null
                        locale: null
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: null
                        name:
                          type: string
                          example: null
                        is_default:
                          type: string
                          example: null
                        colour:
                          type: string
                          example: null
                        button_colour:
                          type: string
                          example: null
                        button_text_colour:
                          type: string
                          example: null
                        heading_font_colour:
                          type: string
                          example: null
                        description_font_colour:
                          type: string
                          example: null
                        label_font_colour:
                          type: string
                          example: null
                        icon_colour:
                          type: string
                          example: null
                        progress_bar_colour:
                          type: string
                          example: null
                        display_pre_qualifications:
                          type: string
                          example: null
                        currency:
                          type: string
                          example: null
                        locale:
                          type: string
                          example: null
      tags:
        - 'Application Widget'
    post:
      summary: 'Create Widget Template'
      operationId: createWidgetTemplate
      description: 'Create Template for application widget.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                    is_default: null
                    colour: null
                    button_colour: null
                    button_text_colour: null
                    heading_font_colour: null
                    description_font_colour: null
                    label_font_colour: null
                    icon_colour: null
                    progress_bar_colour: null
                    display_pre_qualifications: null
                    currency: null
                    locale: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
                      is_default:
                        type: string
                        example: null
                      colour:
                        type: string
                        example: null
                      button_colour:
                        type: string
                        example: null
                      button_text_colour:
                        type: string
                        example: null
                      heading_font_colour:
                        type: string
                        example: null
                      description_font_colour:
                        type: string
                        example: null
                      label_font_colour:
                        type: string
                        example: null
                      icon_colour:
                        type: string
                        example: null
                      progress_bar_colour:
                        type: string
                        example: null
                      display_pre_qualifications:
                        type: string
                        example: null
                      currency:
                        type: string
                        example: null
                      locale:
                        type: string
                        example: null
      tags:
        - 'Application Widget'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Template name.'
                  example: consequatur
                is_default:
                  type: boolean
                  description: 'Wether template should be default or not.'
                  example: true
                colour:
                  type: string
                  description: 'The main colour for the widget. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#272A40'
                button_text_colour:
                  type: string
                  description: 'The action button text/font colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '"#FFFFFF'
                button_colour:
                  type: string
                  description: 'The action button colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#4476E5'
                heading_font_colour:
                  type: string
                  description: 'The heading text/font colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#4476E5'
                description_font_colour:
                  type: string
                  description: 'The description text/font colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#7587A0'
                label_font_colour:
                  type: string
                  description: 'The form fields label font colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#545464'
                icon_colour:
                  type: string
                  description: 'The icon colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#FFFFFF'
                progress_bar_colour:
                  type: string
                  description: 'The progress bar colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#04FE72'
              required:
                - name
  '/api/v2/widget_templates/{id}':
    get:
      summary: 'Get single Widget Template'
      operationId: getSingleWidgetTemplate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                    is_default: null
                    colour: null
                    button_colour: null
                    button_text_colour: null
                    heading_font_colour: null
                    description_font_colour: null
                    label_font_colour: null
                    icon_colour: null
                    progress_bar_colour: null
                    display_pre_qualifications: null
                    currency: null
                    locale: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
                      is_default:
                        type: string
                        example: null
                      colour:
                        type: string
                        example: null
                      button_colour:
                        type: string
                        example: null
                      button_text_colour:
                        type: string
                        example: null
                      heading_font_colour:
                        type: string
                        example: null
                      description_font_colour:
                        type: string
                        example: null
                      label_font_colour:
                        type: string
                        example: null
                      icon_colour:
                        type: string
                        example: null
                      progress_bar_colour:
                        type: string
                        example: null
                      display_pre_qualifications:
                        type: string
                        example: null
                      currency:
                        type: string
                        example: null
                      locale:
                        type: string
                        example: null
      tags:
        - 'Application Widget'
    put:
      summary: 'Update Widget Template'
      operationId: updateWidgetTemplate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                    is_default: null
                    colour: null
                    button_colour: null
                    button_text_colour: null
                    heading_font_colour: null
                    description_font_colour: null
                    label_font_colour: null
                    icon_colour: null
                    progress_bar_colour: null
                    display_pre_qualifications: null
                    currency: null
                    locale: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
                      is_default:
                        type: string
                        example: null
                      colour:
                        type: string
                        example: null
                      button_colour:
                        type: string
                        example: null
                      button_text_colour:
                        type: string
                        example: null
                      heading_font_colour:
                        type: string
                        example: null
                      description_font_colour:
                        type: string
                        example: null
                      label_font_colour:
                        type: string
                        example: null
                      icon_colour:
                        type: string
                        example: null
                      progress_bar_colour:
                        type: string
                        example: null
                      display_pre_qualifications:
                        type: string
                        example: null
                      currency:
                        type: string
                        example: null
                      locale:
                        type: string
                        example: null
      tags:
        - 'Application Widget'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Template name.'
                  example: consequatur
                is_default:
                  type: boolean
                  description: 'Wether template should be default or not.'
                  example: true
                colour:
                  type: string
                  description: 'The main colour for the widget. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#272A40'
                button_text_colour:
                  type: string
                  description: 'The action button text/font colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '"#FFFFFF'
                button_colour:
                  type: string
                  description: 'The action button colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#4476E5'
                heading_font_colour:
                  type: string
                  description: 'The heading text/font colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#4476E5'
                description_font_colour:
                  type: string
                  description: 'The description text/font colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#7587A0'
                label_font_colour:
                  type: string
                  description: 'The form fields label font colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#545464'
                icon_colour:
                  type: string
                  description: 'The icon colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#FFFFFF'
                progress_bar_colour:
                  type: string
                  description: 'The progress bar colour. Must match the regex /^(\#[\da-f]{3}|\#[\da-f]{6}|\#[\da-f]{8})$/i.'
                  example: '#04FE72'
              required:
                - name
    delete:
      summary: 'Delete Widget Template'
      operationId: deleteWidgetTemplate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - 'Application Widget'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the widget template.'
        example: 17
        required: true
        schema:
          type: integer
  '/api/v2/widget_templates/{widgetTemplate_id}/logo':
    post:
      summary: 'Upload Widget Template Logo'
      operationId: uploadWidgetTemplateLogo
      description: 'Upload widget logo from specific widget template'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    mime_type: null
                    original_name: null
                    file_url: ''
                    file_type: null
                    type: null
                    file_size: null
                    created_at: null
                    updated_at: null
                    product_id: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      mime_type:
                        type: string
                        example: null
                      original_name:
                        type: string
                        example: null
                      file_url:
                        type: string
                        example: ''
                      file_type:
                        type: string
                        example: null
                      type:
                        type: string
                        example: null
                      file_size:
                        type: string
                        example: null
                      created_at:
                        type: string
                        example: null
                      updated_at:
                        type: string
                        example: null
                      product_id:
                        type: string
                        example: null
      tags:
        - 'Application Widget'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 'The allowed extension for files are: jpeg,png,svg. Must be a file. Must not be greater than 51200 kilobytes.'
              required:
                - file
    delete:
      summary: 'Delete Widget Logo'
      operationId: deleteWidgetLogo
      description: 'Delete widget logo from a specific widget template'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - 'Application Widget'
    parameters:
      -
        in: path
        name: widgetTemplate_id
        description: 'The ID of the widgetTemplate.'
        example: 17
        required: true
        schema:
          type: integer
  '/api/widget/applications/{application_id}/plaid':
    put:
      summary: 'Set or Exchange Plaid Access Token'
      operationId: setOrExchangePlaidAccessToken
      description: "Accepts either a plaid public token or access token. If a public token is\nprovided, it will be exchanged for an access token."
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - 'Application Widget'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plaid_token:
                  type: string
                  description: 'Public or access token for Plaid. Set `is_access_token` param to `true` to indicate if the token is an access token.'
                  example: access-sandbox-de3ce8ef-33f8-452c-a685-8671031fc0f6
                is_access_token:
                  type: boolean
                  description: 'If it has true value, the token is an access token. Otherwise, it is a public token.'
                  example: true
              required:
                - plaid_token
    parameters:
      -
        in: path
        name: application_id
        description: 'The ID of the application.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/widget/applications/{application_id}/temporary_links':
    post:
      summary: 'Generate Temporary Links'
      operationId: generateTemporaryLinks
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n \"data\" : {\n     \"personal_information_link\": \"https://example.com\",\n     \"docusign_link\": \"https://example.com\",\n }\n}"
      tags:
        - 'Application Widget'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                notify:
                  type: boolean
                  description: ''
                  example: true
                owner:
                  type: number
                  description: 'This field is required when <code>personal_information</code> is present.'
                  example: 11613.31890586
                offer:
                  type: string
                  description: ''
                  example: null
                docusign:
                  type: boolean
                  description: ''
                  example: true
                plaid:
                  type: boolean
                  description: ''
                  example: true
                personal_information:
                  type: boolean
                  description: ''
                  example: true
                railz:
                  type: boolean
                  description: ''
                  example: false
                codat:
                  type: boolean
                  description: ''
                  example: false
                applicant_docusign:
                  type: boolean
                  description: ''
                  example: false
                completed_stips:
                  type: boolean
                  description: ''
                  example: false
    parameters:
      -
        in: path
        name: application_id
        description: 'The ID of the application.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/v2/attributes/{attribute_id}/value':
    post:
      summary: 'Add Attribute Template Custom Value'
      operationId: addAttributeTemplateCustomValue
      description: 'Provide custom value for api type attribute template and linked it to an application'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: null
                      short_id: null
                      name: null
                      description: null
                      color: null
                      status: null
                      type: null
                      content: null
                      updated_at: null
                      created_at: null
                    -
                      id: null
                      short_id: null
                      name: null
                      description: null
                      color: null
                      status: null
                      type: null
                      content: null
                      updated_at: null
                      created_at: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: null
                        short_id: null
                        name: null
                        description: null
                        color: null
                        status: null
                        type: null
                        content: null
                        updated_at: null
                        created_at: null
                      -
                        id: null
                        short_id: null
                        name: null
                        description: null
                        color: null
                        status: null
                        type: null
                        content: null
                        updated_at: null
                        created_at: null
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: null
                        short_id:
                          type: string
                          example: null
                        name:
                          type: string
                          example: null
                        description:
                          type: string
                          example: null
                        color:
                          type: string
                          example: null
                        status:
                          type: string
                          example: null
                        type:
                          type: string
                          example: null
                        content:
                          type: string
                          example: null
                        updated_at:
                          type: string
                          example: null
                        created_at:
                          type: string
                          example: null
      tags:
        - 'Attribute Builder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: number
                  description: 'The numeric value of a custom attribute.'
                  example: 11613.31890586
                application_id:
                  type: string
                  description: 'The application id the custom attribute should be linked.'
                  example: consequatur
              required:
                - value
                - application_id
    parameters:
      -
        in: path
        name: attribute_id
        description: 'The ID of the attribute.'
        example: consequatur
        required: true
        schema:
          type: string
  /api/v1/auth/login:
    post:
      summary: 'Get Bearer Token'
      operationId: getBearerToken
      description: 'This endpoint allows user to get Bearer Token based on provided login credentials.'
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: YOUR_BEARER_TOKEN
                  token_type: bearer
                  expires_in: 7200
                properties:
                  access_token:
                    type: string
                    example: YOUR_BEARER_TOKEN
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    example: 7200
        422:
          description: 'expired password'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Your password has expired.'
                  errors:
                    errors:
                      password:
                        - 'Your password has expired. Please set a new one.'
                  meta:
                    error_code: password_expired
                    password_ttl_days: 14
                properties:
                  message:
                    type: string
                    example: 'Your password has expired.'
                  errors:
                    type: object
                    properties:
                      errors:
                        type: object
                        properties:
                          password:
                            type: array
                            example:
                              - 'Your password has expired. Please set a new one.'
                            items:
                              type: string
                  meta:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: password_expired
                      password_ttl_days:
                        type: integer
                        example: 14
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: qkunze@example.com
                password:
                  type: string
                  description: ''
                  example: 'Asdf1234!?'
              required:
                - email
                - password
      security: []
  /api/v1/auth/me:
    get:
      summary: 'Get User Details'
      operationId: getUserDetails
      description: 'This endpoint allows user to get his personal information.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    first_name: Jerel
                    last_name: Hahn
                    email: 39791f08012ca-4e2b-3f39-a35c-23d41c10fc20@example.com
                    pending_email: null
                    roles: []
                    widget_token: null
                    created_at: null
                    phone: null
                    client_id: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      first_name:
                        type: string
                        example: Jerel
                      last_name:
                        type: string
                        example: Hahn
                      email:
                        type: string
                        example: 39791f08012ca-4e2b-3f39-a35c-23d41c10fc20@example.com
                      pending_email:
                        type: string
                        example: null
                      roles:
                        type: array
                        example: []
                      widget_token:
                        type: string
                        example: null
                      created_at:
                        type: string
                        example: null
                      phone:
                        type: string
                        example: null
                      client_id:
                        type: string
                        example: null
      tags:
        - Authentication
  /api/v1/auth/refresh:
    post:
      summary: 'Refresh Access Token'
      operationId: refreshAccessToken
      description: "This endpoint creates a fresh token for the user. Our requirement is a 2hr\nexpiration on a token. We do not want a user to be able to refresh a token\n2 hours after its IAT.\n\nRefreshing a token using tymon/jwt-auth actually retains the IAT from the\noriginal token. When we refresh a token we want to have a fresh IAT allowing\nthat token to be good for another 2hrs from when it was issued."
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: YOUR_BEARER_TOKEN
                  token_type: bearer
                  expires_in: 7200
                properties:
                  access_token:
                    type: string
                    example: YOUR_BEARER_TOKEN
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    example: 7200
      tags:
        - Authentication
  '/api/email/verify/{id}/{hash}':
    get:
      summary: 'Verify Email'
      operationId: verifyEmail
      description: 'This is a system generated link to verify user email address'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Your email is now verified you can now login'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Your email is now verified you can now login'
      tags:
        - Authentication
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the verify.'
        example: consequatur
        required: true
        schema:
          type: string
      -
        in: path
        name: hash
        description: ''
        example: consequatur
        required: true
        schema:
          type: string
  /api/int/auth/me:
    get:
      summary: 'Get User Details'
      operationId: getUserDetails
      description: 'This endpoint allows user to get his personal information.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    first_name: Jerel
                    last_name: Hahn
                    email: 39791be827a60-115b-338f-ab56-09ca3a917246@example.com
                    pending_email: null
                    roles: []
                    widget_token: null
                    created_at: null
                    phone: null
                    client_id: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      first_name:
                        type: string
                        example: Jerel
                      last_name:
                        type: string
                        example: Hahn
                      email:
                        type: string
                        example: 39791be827a60-115b-338f-ab56-09ca3a917246@example.com
                      pending_email:
                        type: string
                        example: null
                      roles:
                        type: array
                        example: []
                      widget_token:
                        type: string
                        example: null
                      created_at:
                        type: string
                        example: null
                      phone:
                        type: string
                        example: null
                      client_id:
                        type: string
                        example: null
      tags:
        - Authentication
  /api/int/auth/refresh:
    post:
      summary: 'Refresh Access Token'
      operationId: refreshAccessToken
      description: "This endpoint creates a fresh token for the user. Our requirement is a 2hr\nexpiration on a token. We do not want a user to be able to refresh a token\n2 hours after its IAT.\n\nRefreshing a token using tymon/jwt-auth actually retains the IAT from the\noriginal token. When we refresh a token we want to have a fresh IAT allowing\nthat token to be good for another 2hrs from when it was issued."
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: YOUR_BEARER_TOKEN
                  token_type: bearer
                  expires_in: 7200
                properties:
                  access_token:
                    type: string
                    example: YOUR_BEARER_TOKEN
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    example: 7200
      tags:
        - Authentication
  '/api/int/users/{user_id}/impersonate':
    post:
      summary: 'Impersonate User'
      operationId: impersonateUser
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: YOUR_BEARER_TOKEN
                  token_type: bearer
                  expires_in: 7200
                properties:
                  access_token:
                    type: string
                    example: YOUR_BEARER_TOKEN
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    example: 7200
      tags:
        - Authentication
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: 1
        required: true
        schema:
          type: integer
  /api/widget/auth/me:
    get:
      summary: 'Get User Details'
      operationId: getUserDetails
      description: 'This endpoint allows user to get his personal information.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    first_name: Jerel
                    last_name: Hahn
                    email: 39791c2019157-ea7e-3e0e-945d-b90134fb9d07@example.com
                    pending_email: null
                    roles: []
                    widget_token: null
                    created_at: null
                    phone: null
                    client_id: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      first_name:
                        type: string
                        example: Jerel
                      last_name:
                        type: string
                        example: Hahn
                      email:
                        type: string
                        example: 39791c2019157-ea7e-3e0e-945d-b90134fb9d07@example.com
                      pending_email:
                        type: string
                        example: null
                      roles:
                        type: array
                        example: []
                      widget_token:
                        type: string
                        example: null
                      created_at:
                        type: string
                        example: null
                      phone:
                        type: string
                        example: null
                      client_id:
                        type: string
                        example: null
      tags:
        - Authentication
  /api/csrf-token:
    get:
      summary: 'CSRF Token'
      operationId: cSRFToken
      description: "Get a cookie containing the CSRF token from the server. A successful request will return no content and a status of 204.\n<aside class=\"notice\">This should only be used if the application consuming the API requires CSRF protection.</aside>"
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Authentication
      security: []
  /api/auth/login:
    post:
      summary: 'Get Bearer Token'
      operationId: getBearerToken
      description: 'This endpoint allows user to get Bearer Token based on provided login credentials.'
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: YOUR_BEARER_TOKEN
                  token_type: bearer
                  expires_in: 7200
                properties:
                  access_token:
                    type: string
                    example: YOUR_BEARER_TOKEN
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    example: 7200
        422:
          description: 'expired password'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Your password has expired.'
                  errors:
                    errors:
                      password:
                        - 'Your password has expired. Please set a new one.'
                  meta:
                    error_code: password_expired
                    password_ttl_days: 14
                properties:
                  message:
                    type: string
                    example: 'Your password has expired.'
                  errors:
                    type: object
                    properties:
                      errors:
                        type: object
                        properties:
                          password:
                            type: array
                            example:
                              - 'Your password has expired. Please set a new one.'
                            items:
                              type: string
                  meta:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: password_expired
                      password_ttl_days:
                        type: integer
                        example: 14
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: qkunze@example.com
                password:
                  type: string
                  description: ''
                  example: 'Asdf1234!?'
              required:
                - email
                - password
      security: []
  /api/auth/register:
    post:
      summary: 'Register New User'
      operationId: registerNewUser
      description: 'This endpoint allows user to register on Lendflow.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    registered: true
                    message: 'Email Verification Sent'
                properties:
                  data:
                    type: object
                    properties:
                      registered:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: 'Email Verification Sent'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: ''
                  example: consequatur
                last_name:
                  type: string
                  description: ''
                  example: consequatur
                company_name:
                  type: string
                  description: ''
                  example: consequatur
                company_website:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://www.mueller.com/laborum-eius-est-dolor-dolores-minus-voluptatem'
                phone:
                  type: string
                  description: ''
                  example: consequatur
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: carolyne.luettgen@example.org
                password:
                  type: string
                  description: 'Min 8 characters.'
                  example: 'O[2UZ5ij-e/dl4m{o,'
                password_confirmation:
                  type: string
                  description: 'The value and <code>password</code> must match.'
                  example: consequatur
              required:
                - first_name
                - last_name
                - company_name
                - company_website
                - phone
                - email
                - password
                - password_confirmation
      security: []
  /api/password/renew:
    put:
      summary: 'Update an expired password.'
      operationId: updateAnExpiredPassword
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: qkunze@example.com
                old_password:
                  type: string
                  description: ''
                  example: consequatur
                new_password:
                  type: string
                  description: ''
                  example: consequatur
              required:
                - email
                - old_password
                - new_password
      security: []
  /api/password/email:
    post:
      summary: 'Send a reset link'
      operationId: sendAResetLink
      description: 'Send a reset link to the given user.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    password_reset_status: true
                    password_reset_status_message: 'Your password has been reset!'
                properties:
                  data:
                    type: object
                    properties:
                      password_reset_status:
                        type: boolean
                        example: true
                      password_reset_status_message:
                        type: string
                        example: 'Your password has been reset!'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: qkunze@example.com
              required:
                - email
      security: []
  /api/password/reset:
    post:
      summary: 'Reset password'
      operationId: resetPassword
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    password_reset_status: true
                    password_reset_status_message: 'We have emailed your password reset link!'
                properties:
                  data:
                    type: object
                    properties:
                      password_reset_status:
                        type: boolean
                        example: true
                      password_reset_status_message:
                        type: string
                        example: 'We have emailed your password reset link!'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: ''
                  example: consequatur
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: carolyne.luettgen@example.org
                password:
                  type: string
                  description: ''
                  example: consequatur
                password_confirmation:
                  type: string
                  description: ''
                  example: consequatur
              required:
                - token
                - email
                - password
                - password_confirmation
      security: []
  /api/int/auth/can:
    post:
      summary: "Check a user's ability to perform 0+ actions."
      operationId: checkAUsersAbilityToPerform0+Actions
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      subject: Application
                      ability: viewAny
                      allowed: true
                      checksum: 14286d638eecb0c8ef124d354ba0fcb2
                    -
                      subject: Application
                      ability: view
                      arguments:
                        application: uuid
                      allowed: true
                      checksum: null
                    -
                      subject: Offer
                      ability: viewAny
                      allowed: true
                      checksum: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        subject: Application
                        ability: viewAny
                        allowed: true
                        checksum: 14286d638eecb0c8ef124d354ba0fcb2
                      -
                        subject: Application
                        ability: view
                        arguments:
                          application: uuid
                        allowed: true
                        checksum: null
                      -
                        subject: Offer
                        ability: viewAny
                        allowed: true
                        checksum: null
                    items:
                      type: object
                      properties:
                        subject:
                          type: string
                          example: Application
                        ability:
                          type: string
                          example: viewAny
                        allowed:
                          type: boolean
                          example: true
                        checksum:
                          type: string
                          example: 14286d638eecb0c8ef124d354ba0fcb2
      tags:
        - Dashboard
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                abilities:
                  type: array
                  description: 'Must not have more than 25 items.'
                  example: vmqeopfuudtdsufvyvddq
                  items:
                    type: string
  /api/int/auth/acl:
    get:
      summary: 'Dump the ACL definition.'
      operationId: dumpTheACLDefinition
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"data\": {\n    \"definition\": object\n  }\n}"
      tags:
        - Dashboard
  /api/int/filters/sort:
    put:
      summary: 'Sort filters on an individual user preference.'
      operationId: sortFiltersOnAnIndividualUserPreference
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                properties:
                  success:
                    type: boolean
                    example: true
      tags:
        - Dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                templates:
                  type: array
                  description: ''
                  example:
                    - consequatur
                  items:
                    type: integer
              required:
                - templates
  /api/int/filters/visibility:
    put:
      summary: 'Toggle filter visibility on an individual user preference.'
      operationId: toggleFilterVisibilityOnAnIndividualUserPreference
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                properties:
                  success:
                    type: boolean
                    example: true
      tags:
        - Dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                templates:
                  type: array
                  description: ''
                  example:
                    - consequatur
                  items:
                    type: string
              required:
                - templates
  /api/int/filters:
    get:
      summary: 'Get Application Filters'
      operationId: getApplicationFilters
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: All
                      data:
                        states: []
                        sources: []
                        partners: []
                        workflows: []
                        deal_modes: []
                        funded_date: null
                        deal_statuses: []
                        master_statuses: []
                        underwriter_ids: []
                        funded_date_range: []
                        application_started: null
                        funding_advisor_ids: []
                        application_started_range: []
                      columns:
                        - business.actual_monthly_revenue
                        - created_at
                        - personal_information
                        - use_of_fund_id
                        - client_tracking_token
                        - declined_reason
                        - progress
                        - deal_mode
                        - status
                        - business_name
                        - funded_amount
                        - accepted_offer.funded_date
                        - amount_needed
                        - business.industry_type_id
                        - business.industry_other
                        - id
                        - offer_count
                        - placed_with_funder
                        - placement_status
                        - placements_count
                        - plaid_connection
                        - score_card_result.score_card_status
                        - is_signed
                        - software_user
                        - source
                        - business.address.state
                        - stated_monthly_revenue
                        - industry
                        - submitted_to_underwriting
                        - time_in_current_status
                        - is_business_credit
                      is_available_for_organization: true
                      sort_order: 1
                      is_visible: 1
                      notifications: []
                    -
                      id: 1
                      name: All
                      data:
                        states: []
                        sources: []
                        partners: []
                        workflows: []
                        deal_modes: []
                        funded_date: null
                        deal_statuses: []
                        master_statuses: []
                        underwriter_ids: []
                        funded_date_range: []
                        application_started: null
                        funding_advisor_ids: []
                        application_started_range: []
                      columns:
                        - business.actual_monthly_revenue
                        - created_at
                        - personal_information
                        - use_of_fund_id
                        - client_tracking_token
                        - declined_reason
                        - progress
                        - deal_mode
                        - status
                        - business_name
                        - funded_amount
                        - accepted_offer.funded_date
                        - amount_needed
                        - business.industry_type_id
                        - business.industry_other
                        - id
                        - offer_count
                        - placed_with_funder
                        - placement_status
                        - placements_count
                        - plaid_connection
                        - score_card_result.score_card_status
                        - is_signed
                        - software_user
                        - source
                        - business.address.state
                        - stated_monthly_revenue
                        - industry
                        - submitted_to_underwriting
                        - time_in_current_status
                        - is_business_credit
                      is_available_for_organization: true
                      sort_order: 1
                      is_visible: 1
                      notifications: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: All
                        data:
                          states: []
                          sources: []
                          partners: []
                          workflows: []
                          deal_modes: []
                          funded_date: null
                          deal_statuses: []
                          master_statuses: []
                          underwriter_ids: []
                          funded_date_range: []
                          application_started: null
                          funding_advisor_ids: []
                          application_started_range: []
                        columns:
                          - business.actual_monthly_revenue
                          - created_at
                          - personal_information
                          - use_of_fund_id
                          - client_tracking_token
                          - declined_reason
                          - progress
                          - deal_mode
                          - status
                          - business_name
                          - funded_amount
                          - accepted_offer.funded_date
                          - amount_needed
                          - business.industry_type_id
                          - business.industry_other
                          - id
                          - offer_count
                          - placed_with_funder
                          - placement_status
                          - placements_count
                          - plaid_connection
                          - score_card_result.score_card_status
                          - is_signed
                          - software_user
                          - source
                          - business.address.state
                          - stated_monthly_revenue
                          - industry
                          - submitted_to_underwriting
                          - time_in_current_status
                          - is_business_credit
                        is_available_for_organization: true
                        sort_order: 1
                        is_visible: 1
                        notifications: []
                      -
                        id: 1
                        name: All
                        data:
                          states: []
                          sources: []
                          partners: []
                          workflows: []
                          deal_modes: []
                          funded_date: null
                          deal_statuses: []
                          master_statuses: []
                          underwriter_ids: []
                          funded_date_range: []
                          application_started: null
                          funding_advisor_ids: []
                          application_started_range: []
                        columns:
                          - business.actual_monthly_revenue
                          - created_at
                          - personal_information
                          - use_of_fund_id
                          - client_tracking_token
                          - declined_reason
                          - progress
                          - deal_mode
                          - status
                          - business_name
                          - funded_amount
                          - accepted_offer.funded_date
                          - amount_needed
                          - business.industry_type_id
                          - business.industry_other
                          - id
                          - offer_count
                          - placed_with_funder
                          - placement_status
                          - placements_count
                          - plaid_connection
                          - score_card_result.score_card_status
                          - is_signed
                          - software_user
                          - source
                          - business.address.state
                          - stated_monthly_revenue
                          - industry
                          - submitted_to_underwriting
                          - time_in_current_status
                          - is_business_credit
                        is_available_for_organization: true
                        sort_order: 1
                        is_visible: 1
                        notifications: []
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: All
                        data:
                          type: object
                          properties:
                            states:
                              type: array
                              example: []
                            sources:
                              type: array
                              example: []
                            partners:
                              type: array
                              example: []
                            workflows:
                              type: array
                              example: []
                            deal_modes:
                              type: array
                              example: []
                            funded_date:
                              type: string
                              example: null
                            deal_statuses:
                              type: array
                              example: []
                            master_statuses:
                              type: array
                              example: []
                            underwriter_ids:
                              type: array
                              example: []
                            funded_date_range:
                              type: array
                              example: []
                            application_started:
                              type: string
                              example: null
                            funding_advisor_ids:
                              type: array
                              example: []
                            application_started_range:
                              type: array
                              example: []
                        columns:
                          type: array
                          example:
                            - business.actual_monthly_revenue
                            - created_at
                            - personal_information
                            - use_of_fund_id
                            - client_tracking_token
                            - declined_reason
                            - progress
                            - deal_mode
                            - status
                            - business_name
                            - funded_amount
                            - accepted_offer.funded_date
                            - amount_needed
                            - business.industry_type_id
                            - business.industry_other
                            - id
                            - offer_count
                            - placed_with_funder
                            - placement_status
                            - placements_count
                            - plaid_connection
                            - score_card_result.score_card_status
                            - is_signed
                            - software_user
                            - source
                            - business.address.state
                            - stated_monthly_revenue
                            - industry
                            - submitted_to_underwriting
                            - time_in_current_status
                            - is_business_credit
                          items:
                            type: string
                        is_available_for_organization:
                          type: boolean
                          example: true
                        sort_order:
                          type: integer
                          example: 1
                        is_visible:
                          type: integer
                          example: 1
                        notifications:
                          type: array
                          example: []
      tags:
        - Dashboard
    post:
      summary: 'Add Application Filter'
      operationId: addApplicationFilter
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  name: All
                  data:
                    states: []
                    sources: []
                    partners: []
                    workflows: []
                    deal_modes: []
                    funded_date: null
                    deal_statuses: []
                    master_statuses: []
                    underwriter_ids: []
                    funded_date_range: []
                    application_started: null
                    funding_advisor_ids: []
                    application_started_range: []
                  columns:
                    - business.actual_monthly_revenue
                    - created_at
                    - personal_information
                    - use_of_fund_id
                    - client_tracking_token
                    - declined_reason
                    - progress
                    - deal_mode
                    - status
                    - business_name
                    - funded_amount
                    - accepted_offer.funded_date
                    - amount_needed
                    - business.industry_type_id
                    - business.industry_other
                    - id
                    - offer_count
                    - placed_with_funder
                    - placement_status
                    - placements_count
                    - plaid_connection
                    - score_card_result.score_card_status
                    - is_signed
                    - software_user
                    - source
                    - business.address.state
                    - stated_monthly_revenue
                    - industry
                    - submitted_to_underwriting
                    - time_in_current_status
                    - is_business_credit
                  is_available_for_organization: true
                  sort_order: 1
                  is_visible: 1
                  notifications: []
                properties:
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: All
                  data:
                    type: object
                    properties:
                      states:
                        type: array
                        example: []
                      sources:
                        type: array
                        example: []
                      partners:
                        type: array
                        example: []
                      workflows:
                        type: array
                        example: []
                      deal_modes:
                        type: array
                        example: []
                      funded_date:
                        type: string
                        example: null
                      deal_statuses:
                        type: array
                        example: []
                      master_statuses:
                        type: array
                        example: []
                      underwriter_ids:
                        type: array
                        example: []
                      funded_date_range:
                        type: array
                        example: []
                      application_started:
                        type: string
                        example: null
                      funding_advisor_ids:
                        type: array
                        example: []
                      application_started_range:
                        type: array
                        example: []
                  columns:
                    type: array
                    example:
                      - business.actual_monthly_revenue
                      - created_at
                      - personal_information
                      - use_of_fund_id
                      - client_tracking_token
                      - declined_reason
                      - progress
                      - deal_mode
                      - status
                      - business_name
                      - funded_amount
                      - accepted_offer.funded_date
                      - amount_needed
                      - business.industry_type_id
                      - business.industry_other
                      - id
                      - offer_count
                      - placed_with_funder
                      - placement_status
                      - placements_count
                      - plaid_connection
                      - score_card_result.score_card_status
                      - is_signed
                      - software_user
                      - source
                      - business.address.state
                      - stated_monthly_revenue
                      - industry
                      - submitted_to_underwriting
                      - time_in_current_status
                      - is_business_credit
                    items:
                      type: string
                  is_available_for_organization:
                    type: boolean
                    example: true
                  sort_order:
                    type: integer
                    example: 1
                  is_visible:
                    type: integer
                    example: 1
                  notifications:
                    type: array
                    example: []
      tags:
        - Dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: consequatur
                is_available_for_organization:
                  type: boolean
                  description: ''
                  example: false
                data:
                  type: object
                  description: ''
                  example: []
                  properties: {}
                columns:
                  type: object
                  description: 'Must have at least 1 items.'
                  example: null
                  properties: {}
                is_visible:
                  type: string
                  description: 'Must be at least 0 characters. Must not be greater than 1 character.'
                  example: v
                sort_order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 45
              required:
                - name
                - is_available_for_organization
                - data
  '/api/int/filters/{id}':
    get:
      summary: 'Get Application Filter'
      operationId: getApplicationFilter
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  name: All
                  data:
                    states: []
                    sources: []
                    partners: []
                    workflows: []
                    deal_modes: []
                    funded_date: null
                    deal_statuses: []
                    master_statuses: []
                    underwriter_ids: []
                    funded_date_range: []
                    application_started: null
                    funding_advisor_ids: []
                    application_started_range: []
                  columns:
                    - business.actual_monthly_revenue
                    - created_at
                    - personal_information
                    - use_of_fund_id
                    - client_tracking_token
                    - declined_reason
                    - progress
                    - deal_mode
                    - status
                    - business_name
                    - funded_amount
                    - accepted_offer.funded_date
                    - amount_needed
                    - business.industry_type_id
                    - business.industry_other
                    - id
                    - offer_count
                    - placed_with_funder
                    - placement_status
                    - placements_count
                    - plaid_connection
                    - score_card_result.score_card_status
                    - is_signed
                    - software_user
                    - source
                    - business.address.state
                    - stated_monthly_revenue
                    - industry
                    - submitted_to_underwriting
                    - time_in_current_status
                    - is_business_credit
                  is_available_for_organization: true
                  sort_order: 1
                  is_visible: 1
                  notifications: []
                properties:
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: All
                  data:
                    type: object
                    properties:
                      states:
                        type: array
                        example: []
                      sources:
                        type: array
                        example: []
                      partners:
                        type: array
                        example: []
                      workflows:
                        type: array
                        example: []
                      deal_modes:
                        type: array
                        example: []
                      funded_date:
                        type: string
                        example: null
                      deal_statuses:
                        type: array
                        example: []
                      master_statuses:
                        type: array
                        example: []
                      underwriter_ids:
                        type: array
                        example: []
                      funded_date_range:
                        type: array
                        example: []
                      application_started:
                        type: string
                        example: null
                      funding_advisor_ids:
                        type: array
                        example: []
                      application_started_range:
                        type: array
                        example: []
                  columns:
                    type: array
                    example:
                      - business.actual_monthly_revenue
                      - created_at
                      - personal_information
                      - use_of_fund_id
                      - client_tracking_token
                      - declined_reason
                      - progress
                      - deal_mode
                      - status
                      - business_name
                      - funded_amount
                      - accepted_offer.funded_date
                      - amount_needed
                      - business.industry_type_id
[...]
